# Database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_me_super_strong_password
POSTGRES_DB=budget_planner
DB_HOST_PORT=5432

# Rest
JWT_SECRET=your-secret-here
JWT_EXPIRATION_MS=86400000
REST_HOST_PORT=8080

# Resend
RESEND_API_KEY=re_123456789
RESEND_FROM_EMAIL=onboarding@resend.dev

# App
APP_BASE_URL=http://localhost:8080

# Ui
UI_HOST_PORT=3000
NUXT_PUBLIC_API_BASE=http://localhost:8080/api
NUXT_API_BASE_SSR=http://budget_planner_rest:8080/api

# Application Configuration
SKIP_EMAIL_VERIFICATION=true
