spring.application.name=budget-planner-rest

#DB Configuration
spring.datasource.url=jdbc:postgresql://<url>/budget_planner
spring.datasource.username=<username>
spring.datasource.password=<password>
spring.datasource.driver-class-name=org.postgresql.Driver

# Jooq Configuration
spring.jooq.sql-dialect=postgres

#JWT you can use: https://jwtsecretkeygenerator.com/
jwt.expirationMs=86400000
jwt.secret=<Enter your token>

# Actuator
management.endpoints.web.exposure.include=health
management.endpoint.health.show-details=never

#Application Configuration
skip.email.verification=true
